body{
    margin: 0;
}

h1{
    margin-top: 0;
}

img{
    width: 100%;
}

.top-container{
    background-color: #D6E4E5;
}

.middle-container{
    background-color: #497174;
}

.bottom-container{
    background-color: #EB6440;
}